<query-editor-row query-ctrl="ctrl" datasource="ctrl.datasource" class="generic-datasource-query-row" has-text-edit-mode="true">
    <div class="gf-form" ng-if="ctrl.target.rawQuery">
      <textarea class="gf-form-input" rows="5" ng-model="ctrl.target.target" spellcheck="false" ng-blur="ctrl.onChangeInternal()"></textarea>
    </div>
    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form-inline">
        <div class="gf-form">
          <label class="gf-form-label query-keyword">Region</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
              model="ctrl.target.region"
              get-options="ctrl.getRegions()"
              on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
          <label class="gf-form-label query-keyword width-10">Compartment</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
              model="ctrl.target.compartment"
              get-options="ctrl.getCompartments()"
              on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
          <label class="gf-form-label query-keyword width-10">Namespace</label>
          <div class="gf-form-select-wrapper width-10">
			<gf-form-dropdown
			  model="ctrl.target.namespace"
			  get-options="ctrl.getNamespaces()"
			  on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
          <label class="gf-form-label query-keyword width-10">ResourceGroup</label>
          <div class="gf-form-select-wrapper width-10">
            <gf-form-dropdown
                    model="ctrl.target.resourcegroup"
                    get-options="ctrl.getResourceGroups()"
                    on-change="ctrl.onChangeInternal()">
            </gf-form-dropdown>
          </div>
        </div>



     </div>

     <div class="gf-form-inline">
      <div class="gf-form max-width-100">
        <label class="gf-form-label max-width-10 "> Query </label>
          <input class="gf-form-input  max-width-90" 
          type="text" 
          ng-required="true"
          onblur="ctrl.onChangeInternal()"
          ng-model="ctrl.target.searchQuery">
        </input>
        </div>
</query-editor-row>
